<div class="landing-home_container">
  <div nz-row>
    <div nz-col nzSpan="7" nzOffset="1">
      <div class="landing-home_container__filters">
        <app-list-filters></app-list-filters>
      </div>
    </div>
    <div nz-col nzSpan="14" nzOffset="1">
      <div class="landing-home_container__products-list">
        <div class="landing-home_container__products-list-sort">
          <app-list-sort></app-list-sort>
        </div>
        <div class="landing-home_container__products-list-wrapper">
          <div *ngFor="let product of products;">
            <app-product-card [product]="product"></app-product-card>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
