<div class="header-container">
  <div class="header-container__header-links">
    <div class="header-container__header-links_logo-wrapper">
      <img src="assets/images/Logo.svg" alt="header-logo"/>
    </div>
    <a class="header-container__header-links_link-item">Sell on Shopka</a>
    <a class="header-container__header-links_link-item" *ngIf="!userInfo">Register</a>
  </div>
  <div class="header-container__header-search_wrapper">
   <div class="header-search-field">
     <nz-input-group nzPrefixIcon="search" [nzSuffix]="searchKeyword.value ? searchClearTip: ''"
                     class="search-input">
       <input type="text" nz-input placeholder="input search text" [formControl]="searchKeyword" (ngModelChange)="onSearching()"/>
     </nz-input-group>
     <ng-template #searchClearTip>
       <span nz-icon nzType="close" nzTheme="outline" (click)="resetSearchKeyWord()"></span>
     </ng-template>
   </div>
    <a class="header-container__header-link">Electronics</a>
  </div>
  <div class="header-container__header-user-cta">
    <a class="header-container__header-user-cta_login-btn btn-outline btn" nz-button nzType="default" *ngIf="!userInfo" [routerLink]="'login'">Login</a>
    <span class="header-container__header-user-cta_user-cart">
      <span class="cart-count">{{cartItemsCount}}</span>
    <button nz-button nzType="default" class="cart-btn btn btn-outline">My Cart</button>
    </span>
    <div class="header-container__header-user-cta_user-avatar" (click)="onLogout()" *ngIf="userInfo">
      <img src="assets/images/user-avatar.jpg" alt="user-avatar"/>
    </div>
  </div>
</div>
