:root {
  --font-family: "Inter", sans-serif;
}
:root {
  --blue-700: #2264d1;
  --blue-300: #9dc2ff;
  --light-blue: #6c63ff;
  --sonic-silver: #7a7a7a;
  --black: #000;
  --white: #fff;
  --wild-sand: #f5f5f5;
  --grey-600: #5a5b6;
  --grey-500: #ededf0;
  --grey-100: #19191d;
  --dark-grey: #787885;
  --red-600: #f44336;
  --orange-600: #fb8200;
}
