.list-filters__container {
  .ant-collapse {
    background-color: var(--grey);
    border-radius: 4px;
    .ant-collapse-header {
      color: var(--grey-100);
      font-weight: 500;
      font-size: 16px;
    }
    .anticon {
      &.ant-collapse-arrow {
        color: var(--grey-700);
      }
    }
    .ant-collapse-content-box {
      padding: 25px 20px;
      p {
        color: var(--grey-100) !important;
      }
    }
  }
  &_filters {
    .ant-checkbox+span {
      color: var(--grey-100);
      font-weight: 500;
      font-size: 16px;
    }
    .ant-checkbox-wrapper {
      margin-bottom: 10px;
      .ant-checkbox-input {
        &:checked {
          + .ant-checkbox-inner {
            border-color: var(--blue-700);
            background-color: var(--blue-700);
          }
        }
      }
    }
  }
  &_filter-item {
    margin-bottom: 20px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

