<div class="list-filters__container">
  <div class="list-filters__container_filter-item" *ngFor="let filter of filtersList;">
    <nz-collapse [nzExpandIconPosition]="'right'" [nzBordered]="false">
      <nz-collapse-panel
        [nzHeader]="filter.filterTitle"
        [nzActive]="true">
        <div class="list-filters__container_filters">
          <nz-checkbox-wrapper (nzOnChange)="onSelectFilters($event, filter.filterTitle)">
              <div *ngFor="let item of filter.filterItems;">
                <label nz-checkbox [nzValue]="item.value">{{item.name}}</label>
              </div>
          </nz-checkbox-wrapper>
        </div>
      </nz-collapse-panel>
    </nz-collapse>
  </div>
</div>
