<div class="list-filters__container">
  <nz-collapse [nzExpandIconPosition]="'right'" [nzBordered]="false">
    <nz-collapse-panel
      [nzHeader]="'categories'"
      [nzActive]="true">
      <div class="list-filters__container_filters">
        <nz-checkbox-wrapper>
          <div>
            <div><label nz-checkbox nzValue="A">A</label></div>
            <div><label nz-checkbox nzValue="B">B</label></div>
            <div><label nz-checkbox nzValue="C">C</label></div>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </nz-collapse-panel>
  </nz-collapse>
</div>
