<div class="list-filters__container" *ngIf="filterItems.length > 0">
  <div class="list-filters__container_filter-item" *ngFor="let filter of filterItems;">
    <nz-collapse [nzExpandIconPosition]="'right'" [nzBordered]="false">
      <nz-collapse-panel
        [nzHeader]="filter.title"
        [nzActive]="true">
        <div class="list-filters__container_filters">
          <nz-checkbox-wrapper (nzOnChange)="onSelectFilters($event, filter.id)">
              <div *ngFor="let value of filter.values;">
                <label nz-checkbox [nzValue]="value" [nzChecked]="value.selected"
                       (nzCheckedChange)="value.selected = !value.selected">
                  {{filter.title === 'Prices' ? 'Price' + value.name : value.name}}
                </label>
              </div>
          </nz-checkbox-wrapper>
        </div>
      </nz-collapse-panel>
    </nz-collapse>
  </div>
</div>
